#external {
	color: yellow;
}

*{
	font-family:  "Arial", monospace;
	
}


h1 {
	
	font-size:  3rem;
}



#learn {
	text-transform: uppercase;
}

.lang {

	background-color: lightpink;
}

[title~="tools"] {
	border-width: 2px;
	border-style: solid;
  	border-color: lightskyblue;

}

h4 + img {
	height:  150px;
	width: 150 px;
	border-radius:  150px;
	
	}

img + ul {
	letter-spacing: 15px;
}

#web {
	 color: black;
	 text-align:  center;
}

